.home-info {
  background-color: #ff4848;
  .main-title {
    color: #ffffff;
    font-size: 6rem;
    text-transform: uppercase;
    span {
      font-size: 6rem;
      color: #2c3e50;
    }
  }
  p, span {
    color: #ffffff;
    font-size: 2.4rem;
    font-weight: 300;
  }
  .professional-text {
    font-size: 4.8rem;
    margin-bottom: 1rem;
  }
  .section-scroll-down {
    text-align: center;
  }
}
.welcome-info {
  h2 {
    font-size: 3.6rem;
    color: #004966;
  }
  p {
    font-size: 1.8rem;
    color: #004966;
    .text-red {
      color: #ff4848;
      font-size: 1.8rem;
    }
  }
}
.services {
  background-color: #004966;
  text-align: center;
  h2 {
    font-size: 3.6rem;
    font-weight: 300;
    color: #ffffff;
  }
  p {
    font-size: 1.8rem;
    color: #ffffff;
  }
  .services-content {
    text-align: center;
    img {
      width: auto;
    }
    h3 {
      font-size: 3rem;
      font-weight: 700;
      color: #ffffff;
    }
    p {
      font-size: 1.8rem;
      color: #ffffff;
    }
  }
}
.carousel-logo {
  background-color: #ff4848;
}