@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
	h1 {
		font: 700 75px 'Roboto', bold;
		text-transform: uppercase;
		padding-bottom: 31px;
	}
	a {
		font: 400 10px 'Roboto', regular;
		text-decoration: none;
	}
	p, span{
		font: 300 10px 'Roboto', light;
	}
	ul {
		list-style: none;
	}
}

@import "header";
@import "content";

